#favourites {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88.5vh;
    background: rgb(39, 39, 39);
    .myList {
        h2 {
            display: none;
        }
    }
    
}