footer {
    height: 5vh;
    background: $primaryBackground;
    display: flex;
    justify-content: center;
    p {
        align-self: center;
        font-size: 2rem;
        text-align: center;
        color: $primaryColor;
        margin: 0;
        padding: 0;
    }
}