// Global Styles Starts Here

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
    color: black;
}

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}s

h1 {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}


/* Skip-line for accessibility */
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: $primeryBackground;
    color: $primeryBackground;
}

.skipLink:focus {
    left: 0;
}
