header {
    background: $primaryBackground;
    .navContainer {
        min-height: 5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            .logo {
                font-size: 4.5rem;
                font-weight: bold;
                text-transform: uppercase;
                color: $primaryColor;
                margin: 0;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .searchBarContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $primaryColor;
            border-radius: 40px;
            height: 35px;
            padding: 2px;
            .fa-times {
                font-size: 1.6rem;
                color: $primaryBackground;
                display: none;
                padding-left: 10px;
            }
            #searchTxt {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3rem;
                border: none;
                background: $primaryColor;
                outline: none;
                float: left;
                width: 0;
                padding: 0;
                transition: all 1s ease-in-out;
                &::placeholder {
                    color: $secondaryPopColor;
                }
                &:focus {
                    outline: none;
                }
            }
            #searchBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                font-size: 1.8rem;
                color: $primaryBackground;
                float: right;
                width: 35px;
                height: 35px;
                border-radius: 40px;
                background: $primaryColor;
                transition: 1s;
                cursor: pointer;
            }
        }
        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            ul {
                display: flex;
                justify-content: space-between;
                list-style: none;
                margin: 0;
                width: 100%;
                li {
                    // display: none;
                    font-size: 1.8rem; 
                    transition: 0.35s;
                    padding-right: 20px;
                    &:last-child {
                        padding-right: 0;
                    }
                    a {
                        position: relative;
                        color: $primaryColor;
                        text-decoration: none;
                        &:after {
                            content: '';
                            position: absolute;
                            transform: scaleX(0);
                            transition: all ease-in-out 0.6s;
                            border-bottom: 2px solid transparent;
                            top: 23px;
                            left: 0;
                        }
                        &:hover,
                        &:focus {
                            &:after {
                            border-bottom: 2px solid $primaryBorder;
                            transform: scaleX(1);
                            width: 100%;
                            }
                        }
                    }
                    i {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .mobileNav {
        display: none;
    }
}