main {
    padding-top: 35px;
    height: auto;
    background: $primaryBackground;
    .popular h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 3.5rem;
        color: white;
        margin: 0;
        padding: 10px 0;
    }
    .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .movieDetails {
            width: 250px;
            padding: 15px;
            .moviePoster {
                .poster {
                    border: 2px solid silver;
                    box-shadow: 0 4px 4px lightgrey;
                    border-radius: 15px;
                    padding: 8px;
                    transition: ease 0.25s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .movieInfo {
                    h3,
                    h4,
                    p {
                        font-family: 'Nunito', sans-serif;
                        color: $primaryBorder;
                        text-align: left;
                    }
                    h3 {
                        font-size: 1.6rem;
                        font-style: italic;
                        text-align: center;
                        padding-top: 15px;
                    }
                    h4,
                    p {
                        font-size: 1.3rem;
                        text-transform: lowercase;
                    }
                    .btn {
                        color: $primaryBorder;
                        font-size: 1.4rem;
                        text-align: center;
                        text-decoration: none;
                        margin-top: 15px;
                        padding: 5px 20px;
                        border: 1px solid $primaryBorder;
                        border-radius: 15px;
                        cursor: pointer;
                        transition: ease 0.35s;
                        display: inline-table;
                        &:hover {
                            background: rgb(0,0,0);
							background: linear-gradient(130deg, rgba(0,0,0,1) 0%, rgba(0,242,255,1) 100%);
                            border: 1px solid $primaryBorder;
                        }
                        i {
								padding-left: 5px;
								font-size: 1.2rem;
							}
                    }
                }
                
            } 
        }
    }
}



    // form {
    //     fieldset {
    //         display: flex;
    //         margin: 0;
    //         padding: 0;
    //         border: none;
    //         label {
    //             text-align: center;
    //             font-size: 3rem;
    //             color: $primeryColor;
    //         }
    //         input[type="search"],
    //         select, 
    //         input[type="text"] {
    //             font-size: 2rem;
    //             border-radius: 5px;
    //             &:focus {
    //                 background: $secondaryPopColor;
    //                 color: $primeryColor;
    //             }
    //         }
    //         .search {
    //             height: 100%;
    //         }
    //     }
    // }


// .results {}