main {
    padding-top: 35px;
    height: auto;
    background: $primaryBackground;
    .popular h2 {
        font-family: 'Nunito', sans-serif;
        font-size: 3.5rem;
        color: white;
        margin: 0;
        padding: 10px 0;
    }
    .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .movieDetails {
            width: 250px;
            padding: 15px;
            .moviePoster {
                .poster {
                    border: 2px solid silver;
                    box-shadow: 0 4px 4px lightgrey;
                    border-radius: 15px;
                    padding: 8px;
                    transition: ease 0.25s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .movieInfo {
                    h3,
                    .favBtn,
                    p {
                        font-family: 'Nunito', sans-serif;
                        color: $primaryBorder;
                        text-align: left;
                    }
                    h3 {
                        font-size: 1.6rem;
                        font-style: italic;
                        text-align: center;
                        padding-top: 15px;
                    }
                    .favBtn {
                        font-size: 1.4rem;
                        background: $primaryBackground;
                        border-bottom: 2px solid transparent;
                        border: $primaryColor;
                        position: relative;
                        cursor: pointer;
                        margin: 10px 0;
                        padding: 0;
                        &:after {
                            content: '';
                            position: absolute;
                            transform: scaleX(0);
                            transition: all ease-in-out 0.5s;
                            border-bottom: 2px solid transparent;
                            top: 20px;
                            left: 0;
                        }
                        &:hover,
                        &:focus {
                            &:after {
                            border-bottom: 2px solid $primaryColor;
                            transform: scaleX(1);
                            width: 100%;
                            }
                        }
                        .fa-check-circle {
                            color: $primaryColor;
                        }
                    }
                    p {
                        font-size: 1.3rem;
                        text-transform: lowercase;
                    }
                    .btn {
                        color: $primaryBorder;
                        font-size: 1.4rem;
                        text-align: center;
                        text-decoration: none;
                        margin-top: 10px;
                        padding: 5px 20px;
                        border: 1px solid $primaryBorder;
                        border-radius: 15px;
                        cursor: pointer;
                        transition: transform 80ms ease-in;
                        display: inline-table;
                        &:active {
                            transform: scale(0.95);
                        }
                        &:hover {
                            background: rgb(0,0,0);
							background: linear-gradient(130deg, rgba(0,0,0,1) 0%, rgba(0,242,255,1) 100%);
                            border: 1px solid $primaryBorder;
                        }
                        i {
								padding-left: 5px;
								font-size: 1.2rem;
							}
                    }
                }
                
            } 
        }
    }
}