// Responsive Design Starts Bellow

@media (max-width: 900px) {
    header {
        h1 {
        font-size: 4rem;
        }
    }
}

@include mqTabletVert {
    header {
        // h1 {
        //     &::before,
        //     &::after {
        //         top: 12px;
        //     }
        // }
        // .navContainer {
        //     // min-height: 5vh;
        //     .nav ul li {
        //         display: none;
        //     }
        // }
        // Mobile Nav Starts Here //
        // nav.mobileNav {
        //     display: block;
        //     input[type="checkbox"]:checked + ul.navMobile {
        //         right: 0;
        //     }
        //     input[type="checkbox"] {
        //         display: none;
        //     }
        //     label[for="toggleMenu"] {
        //         position: fixed;
        //         top: 8px;
        //         right: 40px;
        //         color: $primaryBackground;
        //         z-index: 10;
        //     }
        //     i {
        //         font-size: 3.5rem;
        //         color: $primaryColor;
        //     }
        // }
        // .navMobile {
        //     margin: 0;
        //     display: flex;
        //     flex-direction: column;
        //     background-color: rgba($primaryColor, 0.8);
        //     list-style: none;
        //     position: fixed;
        //     z-index: 10;
        //     width: 170px;
        //     right: -170px;
        //     height: 200px;
        //     top: 5%;
        //     padding: 2%;
        //     border-radius: 15px 0 15px 15px;
        //     -webkit-transition: all 0.5s;
        //     transition: all 0.5s;
        //     li {
        //         padding: 8% 0;
        //         a {
        //             font-size: 1.6rem;
        //             color: $primaryBackground;
        //             text-decoration: none;
        //             text-transform: uppercase;
        //             display: inline-block;
        //             border-bottom: 3px solid transparent;
        //             -webkit-transition: all 0.3s;
        //             transition: all 0.25s;
        //             &:hover,
        //             &:focus {
        //                 border-bottom: 3px solid $primaryBorder;
        //             }
        //         }
        //     }
        // }
        // // End of mobile menu //
    }
    .flexInputs {
        flex-direction: column;
        align-items: center;
    }
    .results {
        p {
            font-size: 2.3rem;
        }
        li {
            width: auto;
        }
    }
}

@include mqMobile {
    header {
        .wrapper {
            h1 {
                font-size: 2.5rem;
                &::before,
                &::after {
                    display: none;
                }
                        
            }
        }
    }
    .inputs {
        height: 75vh;
    }
    form {
        fieldset {
            label {
                font-size: 1.6rem;
            }
            p {
                font-size: 1.6rem;
                padding: 0;
            }
            input[type="search"],
            select, 
            input[type="text"] {
                font-size: 1.6rem;
            }
            .searchButton {
                flex-direction: column;
                button:nth-child(2) {
                    align-self: center;
                    width: 45%;
                    margin-top: 5%;
                }
            }
            #time {
                width: 30%;
            }
        }
        fieldset:nth-child(1) > button:nth-child(5) {
            margin-top: 10%;
            padding: 5px 40px;
        }
        .submit {
            width: 45%;
        }
    }
    .results {
        p {
            font-size: 2rem;
        }
        li {
            font-size: 1.8rem;
        }
        .delays p {
            margin-top: 15%;
        }
        .departures,
        .arrivals {
            height: auto;
        }
    }
    footer p {
        font-size: 1.5rem;
    }
    .errorMessage {
        width: 90%;
        height: auto;
        left: 5%;
    }
}

@include mqMobilePlus {
    .inputs {
        height: 74vh;
    }
}

@include mqMobileSE {
    .inputs {
        height: auto;
    }
}