// Sign In Styles Starts Here
#account {
    display: none;
    height: 88.6vh;
    background: rgb(39, 39, 39);
    padding-top: 100px;
    #container {
        font-family: 'Montserrat', sans-serif;
    }
    a {
        font-size: 1.4rem;
        text-decoration: none;
        color: #333;
        margin: 15px 0;
        i {
            color: #03c2cc;
        }
    }
    .container {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
        .signUpContainer {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
        }
        .formContainer {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: #FFFFFF;
                height: 100%;
                padding: 0 50px;
                h1 {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #03c2cc;
                    margin: 0;
                }
                .socialContainer {
                    margin: 20px 0;
                    a {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid rgb(136, 136, 136);
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        margin: 0 5px;
                        i {
                            font-size: 2rem;
                        }
                    }
                }
                span {
                    font-size: 1.2rem;
                }
                input {
                    font-style: italic;
                    background-color: #eee;
                    border-radius: 20px;
                    border: none;
                    width: 100%;
                    margin: 8px 0;
                    padding: 12px 15px;
                    &:active,
                    &:focus {
                        font-style: normal;
                        font-weight: bold;
                        color: #333;
                        background-color: #00f2ff;
                        border: 1px solid rgb(136, 136, 136);
                        box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
                    }
                }

            }
        }
        button {
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #03c2cc;
            border: 1px solid #03c2cc;
            border-radius: 20px;
            padding: 12px 45px;
            transition: transform 80ms ease-in;
            &:active {
                transform: scale(0.95);
                border: 1px solid rgb(136, 136, 136);
                box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
            }
            &:focus {
                outline: none;
            }
            .ghost {
                background-color: transparent;
                border-color: #FFFFFF;
            }
        }
        .signInContainer {
            left: 0;
            width: 50%;
            z-index: 2;
        }
        .overlayContainer {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;
            .overlay {
                position: relative;
                background: rgb(2,0,36);
                background: linear-gradient(135deg, rgba(2,0,36,1) 10%, rgba(0,242,255,1) 50%, rgba(2,0,36,1) 90%);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0 0;
                color: #FFFFFF;
                left: -100%;
                height: 100%;
                width: 200%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
                .overlayPanel {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    top: 0;
                    height: 100%;
                    width: 50%;
                    padding: 0 40px;
                    transform: translateX(0);
                    transition: transform 0.6s ease-in-out;
                    .overlayLeft {
                        transform: translateX(-20%);
                    }
                }
                .overlayRight {
                    right: 0;
                    transform: translateX(0);
                }
                h2 {
                    font-size: 2.8rem;
                    text-align: center;
                }
                p {
                    font-size: 1.4rem;
                    font-weight: 100;
                    letter-spacing: 0.5px;
                    line-height: 20px;
                    margin: 20px 0 30px;
                }
            }
        }
    }
    .container.rightPanelActive .signInContainer {
        transform: translateX(100%);
    }
    .container.rightPanelActive .signUpContainer {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
        animation: show 0.6s;
    }
    .container.rightPanelActive .overlayContainer{
        transform: translateX(-100%);
    }
    .container.rightPanelActive .overlay {
        transform: translateX(50%);
    }
    .container.rightPanelActive .overlayLeft {
        transform: translateX(0);
    }
    .container.rightPanelActive .overlayRight {
        transform: translateX(20%);
    }
    @keyframes show {
        0%, 49.99% {
            opacity: 0;
            z-index: 1;
        }
        
        50%, 100% {
            opacity: 1;
            z-index: 5;
        }
    }
}