// Font Colors
// $primeryColor: #d81f26;
$primaryColor: #00f2ff;

// Pop Color
$primaryPopColor: #990000;
$secondaryPopColor: #596157;
$thirdPopColor: lightgrey;

// Border
$primaryBorder: #fff;
$secondaryBorder: #919191;

// Background
$primaryBackground: #000;
