// Font Colors
$primeryColor: #d81f26;

// Pop Color
$primeryPopColor: #990000;
$secondaryPopColor: #596157;
$thirdPopColor: lightgrey;

// Border
$primeryBorder: #fff;
$secondaryBorder: #919191;

// Background
$primeryBackground: #000;
