html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0 auto;
  color: black;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

s
h1 {
  margin: 0;
}

/* Skip-line for accessibility */
.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: #000;
  color: #000;
}

.skipLink:focus {
  left: 0;
}

header {
  background: #000;
}

header .navContainer {
  min-height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navContainer a {
  text-decoration: none;
}

header .navContainer a .logo {
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #00f2ff;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header .navContainer .searchBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00f2ff;
  border-radius: 40px;
  height: 35px;
  padding: 2px;
}

header .navContainer .searchBarContainer .fa-times {
  font-size: 1.6rem;
  color: #000;
  display: none;
  padding-left: 10px;
}

header .navContainer .searchBarContainer #searchTxt {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  border: none;
  background: #00f2ff;
  outline: none;
  float: left;
  width: 0;
  padding: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .navContainer .searchBarContainer #searchTxt::-webkit-input-placeholder {
  color: #596157;
}

header .navContainer .searchBarContainer #searchTxt:-ms-input-placeholder {
  color: #596157;
}

header .navContainer .searchBarContainer #searchTxt::-ms-input-placeholder {
  color: #596157;
}

header .navContainer .searchBarContainer #searchTxt::placeholder {
  color: #596157;
}

header .navContainer .searchBarContainer #searchTxt:focus {
  outline: none;
}

header .navContainer .searchBarContainer #searchBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  float: right;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  background: #00f2ff;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

header .navContainer .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navContainer .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  width: 100%;
}

header .navContainer .nav ul li {
  font-size: 1.8rem;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  padding-right: 20px;
}

header .navContainer .nav ul li:last-child {
  padding-right: 0;
}

header .navContainer .nav ul li a {
  position: relative;
  color: #00f2ff;
  text-decoration: none;
}

header .navContainer .nav ul li a:after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  border-bottom: 2px solid transparent;
  top: 23px;
  left: 0;
}

header .navContainer .nav ul li a:hover:after, header .navContainer .nav ul li a:focus:after {
  border-bottom: 2px solid #fff;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

header .navContainer .nav ul li i {
  font-size: 1.5rem;
}

header .mobileNav {
  display: none;
}

#account {
  display: none;
  height: 88.6vh;
  background: #272727;
  padding-top: 100px;
}

#account #container {
  font-family: 'Montserrat', sans-serif;
}

#account a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #333;
  margin: 15px 0;
}

#account a i {
  color: #03c2cc;
}

#account .container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

#account .container .signUpContainer {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#account .container .formContainer {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

#account .container .formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #FFFFFF;
  height: 100%;
  padding: 0 50px;
}

#account .container .formContainer form h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #03c2cc;
  margin: 0;
}

#account .container .formContainer form .socialContainer {
  margin: 20px 0;
}

#account .container .formContainer form .socialContainer a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #888888;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0 5px;
}

#account .container .formContainer form .socialContainer a i {
  font-size: 2rem;
}

#account .container .formContainer form span {
  font-size: 1.2rem;
}

#account .container .formContainer form input {
  font-style: italic;
  background-color: #eee;
  border-radius: 20px;
  border: none;
  width: 100%;
  margin: 8px 0;
  padding: 12px 15px;
}

#account .container .formContainer form input:active, #account .container .formContainer form input:focus {
  font-style: normal;
  font-weight: bold;
  color: #333;
  background-color: #00f2ff;
  border: 1px solid #888888;
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#account .container button {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #03c2cc;
  border: 1px solid #03c2cc;
  border-radius: 20px;
  padding: 12px 45px;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}

#account .container button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  border: 1px solid #888888;
  -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
          box-shadow: 0 10px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

#account .container button:focus {
  outline: none;
}

#account .container button .ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

#account .container .signInContainer {
  left: 0;
  width: 50%;
  z-index: 2;
}

#account .container .overlayContainer {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}

#account .container .overlayContainer .overlay {
  position: relative;
  background: #020024;
  background: linear-gradient(135deg, #020024 10%, #00f2ff 50%, #020024 90%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#account .container .overlayContainer .overlay .overlayPanel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 0 40px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#account .container .overlayContainer .overlay .overlayPanel .overlayLeft {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

#account .container .overlayContainer .overlay .overlayRight {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#account .container .overlayContainer .overlay h2 {
  font-size: 2.8rem;
  text-align: center;
}

#account .container .overlayContainer .overlay p {
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin: 20px 0 30px;
}

#account .container.rightPanelActive .signInContainer {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#account .container.rightPanelActive .signUpContainer {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

#account .container.rightPanelActive .overlayContainer {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#account .container.rightPanelActive .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#account .container.rightPanelActive .overlayLeft {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#account .container.rightPanelActive .overlayRight {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

#favourites {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88.5vh;
  background: #272727;
  display: none;
}

#favourites .myList h2 {
  display: none;
}

/* Carousel Styles */
#carouselContainer {
  height: 89vh;
  background: #020024;
  background: linear-gradient(135deg, #020024 20%, #00f2ff 50%, #020024 80%);
}

#carouselContainer .contentSlider {
  width: 90%;
  height: 100%;
}

#carouselContainer .contentSlider .slider {
  width: 100%;
  height: inherit;
  overflow: hidden;
}

#carouselContainer .contentSlider .slider .movieBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: inherit;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  width: 50%;
  height: 89vh;
  padding: 0 40px;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .bannerDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .bannerDetails p {
  font-size: 2.5rem;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .bannerDetails p i {
  font-size: 1.8rem;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo h3,
#carouselContainer .contentSlider .slider .movieBanner .bannerInfo h4,
#carouselContainer .contentSlider .slider .movieBanner .bannerInfo p,
#carouselContainer .contentSlider .slider .movieBanner .bannerInfo a {
  padding: 8px;
  margin: 0;
  padding: 0;
  color: #fff;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo h3 {
  font-size: 5rem;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo h4 {
  font-size: 1.8rem;
  padding-top: 15px;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo p {
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  line-height: 2;
  padding-top: 15px;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .btn {
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  margin-top: 15px;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: ease 0.35s;
  transition: ease 0.35s;
  display: inline-table;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .btn:hover {
  background: black;
  background: linear-gradient(130deg, black 0%, #00f2ff 100%);
  border: 1px solid #fff;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerInfo .btn i {
  padding-left: 5px;
  font-size: 1.2rem;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerBackdrop {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#carouselContainer .contentSlider .slider .movieBanner .bannerBackdrop .backdrop {
  width: 90%;
}

#carouselContainer .contentSlider input {
  display: none;
}

#carouselContainer .contentSlider nav {
  padding-top: 15px;
  width: 100%;
  text-align: center;
}

#carouselContainer .contentSlider nav .controls {
  display: block;
  margin: 0 auto;
  color: #fff;
}

#carouselContainer .contentSlider nav .controls label {
  position: relative;
  display: inline-block;
  width: 10%;
  height: 3.1rem;
  overflow: hidden;
  margin: 0 1rem;
  padding-top: 1rem;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#carouselContainer .contentSlider nav .controls label .progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #fff;
  z-index: 100;
}

#carouselContainer .contentSlider nav .controls label .progressbar .progressbarFill {
  position: inherit;
  width: inherit;
  height: inherit;
  margin-left: -100%;
  background: #919191;
}

#carouselContainer .contentSlider #banner1:checked ~ .slider .bannerContainer,
#carouselContainer .contentSlider #banner2:checked ~ .slider .bannerContainer,
#carouselContainer .contentSlider #banner3:checked ~ .slider .bannerContainer,
#carouselContainer .contentSlider #banner4:checked ~ .slider .bannerContainer,
#carouselContainer .contentSlider #banner5:checked ~ .slider .bannerContainer {
  opacity: 1;
  z-index: 1;
}

#carouselContainer .contentSlider #banner1:checked ~ nav label:nth-of-type(1),
#carouselContainer .contentSlider #banner2:checked ~ nav label:nth-of-type(2),
#carouselContainer .contentSlider #banner3:checked ~ nav label:nth-of-type(3),
#carouselContainer .contentSlider #banner4:checked ~ nav label:nth-of-type(4),
#carouselContainer .contentSlider #banner5:checked ~ nav label:nth-of-type(5) {
  color: #00f2ff;
  -webkit-transition: all .10s;
  transition: all .10s;
}

#carouselContainer .contentSlider #banner1:checked ~ nav label:nth-of-type(1) .progressbar,
#carouselContainer .contentSlider #banner2:checked ~ nav label:nth-of-type(2) .progressbar,
#carouselContainer .contentSlider #banner3:checked ~ nav label:nth-of-type(3) .progressbar,
#carouselContainer .contentSlider #banner4:checked ~ nav label:nth-of-type(4) .progressbar,
#carouselContainer .contentSlider #banner5:checked ~ nav label:nth-of-type(5) .progressbar {
  background: #00f2ff;
}

#carouselContainer .contentSlider #banner1:checked ~ nav label:nth-of-type(1) .progressbarFill,
#carouselContainer .contentSlider #banner2:checked ~ nav label:nth-of-type(2) .progressbarFill,
#carouselContainer .contentSlider #banner3:checked ~ nav label:nth-of-type(3) .progressbarFill,
#carouselContainer .contentSlider #banner4:checked ~ nav label:nth-of-type(4) .progressbarFill,
#carouselContainer .contentSlider #banner5:checked ~ nav label:nth-of-type(5) .progressbarFill {
  -webkit-animation: progressBarFill 10s linear;
          animation: progressBarFill 10s linear;
}

/* Animations */
@-webkit-keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
@keyframes progressBarFill {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

main {
  padding-top: 35px;
  height: auto;
  background: #000;
}

main .popular h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.5rem;
  color: white;
  margin: 0;
  padding: 10px 0;
}

main .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .results .movieDetails {
  width: 250px;
  padding: 15px;
}

main .results .movieDetails .moviePoster .poster {
  border: 2px solid silver;
  -webkit-box-shadow: 0 4px 4px lightgrey;
          box-shadow: 0 4px 4px lightgrey;
  border-radius: 15px;
  padding: 8px;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}

main .results .movieDetails .moviePoster .poster:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .results .movieDetails .moviePoster .movieInfo h3,
main .results .movieDetails .moviePoster .movieInfo .favBtn,
main .results .movieDetails .moviePoster .movieInfo p {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  text-align: left;
}

main .results .movieDetails .moviePoster .movieInfo h3 {
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  padding-top: 15px;
}

main .results .movieDetails .moviePoster .movieInfo .favBtn {
  font-size: 1.4rem;
  background: #000;
  border-bottom: 2px solid transparent;
  border: #00f2ff;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  padding: 0;
}

main .results .movieDetails .moviePoster .movieInfo .favBtn:after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border-bottom: 2px solid transparent;
  top: 20px;
  left: 0;
}

main .results .movieDetails .moviePoster .movieInfo .favBtn:hover:after, main .results .movieDetails .moviePoster .movieInfo .favBtn:focus:after {
  border-bottom: 2px solid #00f2ff;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 100%;
}

main .results .movieDetails .moviePoster .movieInfo .favBtn .fa-check-circle {
  color: #00f2ff;
}

main .results .movieDetails .moviePoster .movieInfo p {
  font-size: 1.3rem;
  text-transform: lowercase;
}

main .results .movieDetails .moviePoster .movieInfo .btn {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  padding: 5px 20px;
  border: 1px solid #fff;
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
  display: inline-table;
}

main .results .movieDetails .moviePoster .movieInfo .btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main .results .movieDetails .moviePoster .movieInfo .btn:hover {
  background: black;
  background: linear-gradient(130deg, black 0%, #00f2ff 100%);
  border: 1px solid #fff;
}

main .results .movieDetails .moviePoster .movieInfo .btn i {
  padding-left: 5px;
  font-size: 1.2rem;
}

#search {
  padding-top: 35px;
  height: auto;
  background: #000;
}

#search .searchTerm h2 {
  display: none;
  font-family: 'Nunito', sans-serif;
  font-size: 3.5rem;
  color: #fff;
  margin: 0;
  padding: 10px 0;
}

#search .searchTerm .searchResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#search .searchTerm .searchResult .searchDetails {
  width: 250px;
  padding: 15px;
}

#search .searchTerm .searchResult .searchBackdrop {
  border: 2px solid silver;
  -webkit-box-shadow: 0 4px 4px lightgrey;
          box-shadow: 0 4px 4px lightgrey;
  border-radius: 15px;
  padding: 8px;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}

#search .searchTerm .searchResult .searchBackdrop:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#search .searchTerm .searchResult .searchInfo .extraInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#search .searchTerm .searchResult .searchInfo .extraInfo h3,
#search .searchTerm .searchResult .searchInfo .extraInfo p {
  margin: 0;
  padding: 0;
}

#search .searchTerm .searchResult .searchInfo .extraInfo h3 i,
#search .searchTerm .searchResult .searchInfo .extraInfo p i {
  padding-right: 5px;
}

#search .searchTerm .searchResult .searchInfo h3,
#search .searchTerm .searchResult .searchInfo h4,
#search .searchTerm .searchResult .searchInfo p {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  text-align: left;
}

#search .searchTerm .searchResult .searchInfo h3 {
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  padding-top: 15px;
}

#search .searchTerm .searchResult .searchInfo h4 {
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
  border: #00f2ff;
  position: relative;
}

#search .searchTerm .searchResult .searchInfo h4:after {
  content: '';
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  border-bottom: 2px solid transparent;
  top: 20px;
  left: 0;
}

#search .searchTerm .searchResult .searchInfo h4:hover:after, #search .searchTerm .searchResult .searchInfo h4:focus:after {
  border-bottom: 2px solid #00f2ff;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  width: 40%;
}

#search .searchTerm .searchResult .searchInfo p {
  font-size: 1.3rem;
  text-transform: lowercase;
}

footer {
  height: 5vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2rem;
  text-align: center;
  color: #00f2ff;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  header .navContainer .nav ul li {
    display: none;
  }
  header nav.mobileNav {
    display: block;
  }
  header nav.mobileNav input[type="checkbox"]:checked + ul.navMobile {
    right: 0;
  }
  header nav.mobileNav input[type="checkbox"] {
    display: none;
  }
  header nav.mobileNav label[for="toggleMenu"] {
    top: 8px;
    right: 40px;
    color: #000;
    z-index: 10;
  }
  header nav.mobileNav i {
    font-size: 3.5rem;
    color: #00f2ff;
  }
  header .navMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 242, 255, 0.95);
    list-style: none;
    position: fixed;
    z-index: 10;
    width: 200px;
    right: -200px;
    height: 190px;
    top: 52px;
    margin: 0;
    padding: 0 10px;
    border-radius: 15px 0 15px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  header .navMobile li {
    padding: 8% 0;
  }
  header .navMobile li a {
    font-size: 1.6rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    position: relative;
  }
  header .navMobile li a:after {
    content: '';
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all ease-in-out 0.6s;
    transition: all ease-in-out 0.6s;
    border-bottom: 2px solid transparent;
    top: 23px;
    left: 0;
  }
  header .navMobile li a:hover:after, header .navMobile li a:focus:after {
    border-bottom: 2px solid #fff;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    width: 100%;
  }
  header .navMobile li a i {
    font-size: 1.5rem;
    color: #fff;
  }
  .flexInputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results p {
    font-size: 2.3rem;
  }
  .results li {
    width: auto;
  }
}

@media (max-width: 480px) {
  header .wrapper h1 {
    font-size: 2.5rem;
  }
  header .wrapper h1::before, header .wrapper h1::after {
    display: none;
  }
  .inputs {
    height: 75vh;
  }
  form fieldset label {
    font-size: 1.6rem;
  }
  form fieldset p {
    font-size: 1.6rem;
    padding: 0;
  }
  form fieldset input[type="search"],
  form fieldset select,
  form fieldset input[type="text"] {
    font-size: 1.6rem;
  }
  form fieldset .searchButton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form fieldset .searchButton button:nth-child(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 45%;
    margin-top: 5%;
  }
  form fieldset #time {
    width: 30%;
  }
  form fieldset:nth-child(1) > button:nth-child(5) {
    margin-top: 10%;
    padding: 5px 40px;
  }
  form .submit {
    width: 45%;
  }
  .results p {
    font-size: 2rem;
  }
  .results li {
    font-size: 1.8rem;
  }
  .results .delays p {
    margin-top: 15%;
  }
  .results .departures,
  .results .arrivals {
    height: auto;
  }
  footer p {
    font-size: 1.5rem;
  }
  .errorMessage {
    width: 90%;
    height: auto;
    left: 5%;
  }
}

@media (max-width: 415px) {
  .inputs {
    height: 74vh;
  }
}

@media (max-width: 320px) {
  .inputs {
    height: auto;
  }
}
/*# sourceMappingURL=styles.css.map */